#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.warehouse-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.warehouse-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.25rem 0.25rem;
  margin: 0.25rem;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}
.warehouse-card p {
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
  font-size: 1rem;
  color: #333;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.warehouse-card button {
  margin: 0rem 0rem;
  padding: 0rem 0rem;
  font-size: 1rem;
  color: #333;
  align-self: flex-end;
}

.category-button {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.category-button:hover {
  background-color: #d0d0d0;
}

.category-button.selected {
  background-color: #646cff;
  color: white;
}

.warehouse {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.warehouse h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

.warehouse button {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  background-color: #e0e0e0;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.warehouse button:hover {
  background-color: #d0d0d0;
}

.warehouse button.selected {
  background-color: #646cff;
  color: white;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 600px;
}

.search-equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.search-area input[type="text"] {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-area select {
  padding: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.result-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.equipment-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.equipment-card p {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #333;
}
