
.pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.pagination li {
    margin: 5px;
}

.pagination li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #000;
    cursor: pointer;
}

.pagination li.active a {
    background-color: #007bff;
    color: white;
}

.pagination li.disabled a {
    color: #ccc;
    cursor: not-allowed;
}

.button {
    background-color: #007BFF; /* ブルー */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.2s, transform 0.2s;
}

.button:hover {
    background-color: #0056b3; /* 濃いブルー */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transform: translateY(-2px);
}

.button:active {
    background-color: #004085; /* より濃いブルー */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transform: translateY(1px);
}

.button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}